# Ignore IntelliJ IDEA project files
*.iml
awardco-feed/.idea/
awardco-feed.iml

# Ignore node_modules directory
node_modules/

# Ignore log files and temporary files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore compiled files
*.class
*.o
*.so

# Ignore other files and directories as needed